.shield-image {
  display: inline-block;
  position: relative;
  .loading-cpn {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
}

.shield-loading{
  width: 40px !important;
  height: 40px !important;
}